<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
  <application android:allowBackup="true" android:label="LockPhone" android:theme="@style/AppTheme" android:supportsRtl="true" />
</manifest>
